#mapNeueFahrt { height: 420px; }
#mapBisherigeFahrten { height: 420px; }
#anzeigeAbfahrten { display: none;}

  body{
            margin: 30px;
            background-color: lightgrey;
        }
        h1{
            color: navy;
            margin-left: 50px;
            font-size: 40px;
        }

        h2{
            margin-left: 50px;
            font-size: 30px;
        }
        

        .my-container {
            border: 1px solid black;
        }
        
        }
        .my-col{
            border: 3px solid black;
        }

        .table-image{
            td, th{
                vertical-align: middle;
            }
        }
